# Welcome to the world of machine learning

**self learning for class augumentation**

In [7]:
import pandas as pd

In [2]:
df = pd.read_csv('vgsales.csv.zip')

In [9]:
df.shape

(16598, 11)

In [11]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [15]:
#Removing NA from data set
clean = df.dropna()

In [13]:
clean.shape

(16291, 11)

In [16]:
#Checking if all NA have been removed
clean.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000
mean,8290.190228,2006.405561,0.265647,0.147731,0.078833,0.048426,0.540910
std,4792.654450,5.832412,0.822432,0.509303,0.311879,0.190083,1.567345
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4132.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8292.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12439.500000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [21]:
music_data = pd.read_csv('music.csv')

In [24]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [25]:
#Creating input
X = music_data.drop(columns=['genre'])
#Creating output
y = music_data['genre']

In [52]:
from sklearn.tree import DecisionTreeClassifier
#Setting model to new instance
model = DecisionTreeClassifier()
#Fitting my model to learn pattern from the data
model.fit(X, y)
#Asking my model to make prediction. Making 2 decisions at the same time
#Predicting genre of music a 21 year old male(1) and 22 year old female(0) would like
predictions = model.predict([[21,1], [22,0]])
predictions #correct according to the data

array(['HipHop', 'Dance'], dtype=object)

In [51]:
#Measuring accuracy of my model 
#Data set has to be split into 2, for training and testing

from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #Setting 20% (0.2) of the data for testing

#Training the model
model = DecisionTreeClassifier()

#Training the model with the training data set
model.fit(X_train, y_train)

#Asking the model to predict using only the input data set for testing
predictions = model.predict(X_test)

#To calculate accuraccy, 
#We compare predicction obtained with X_test with y_test
score = accuracy_score(y_test, predictions) #Score should be 0-1
score

0.75

In [57]:
#Exporting this trained model 
import joblib

#Copying the first supervised model trained above

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns=['genre'])
y = music_data['genre']

model = DecisionTreeClassifier()
model.fit(X, y) 

#Give the name of the trained model 
#and the name you want to export it as
#dump creates a new file in the same folder
joblib.dump(model, 'music_recommender.joblib')

['music_recommender.joblib']